[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/reddit
ExecStart=/usr/local/bin/puma
Restart=always

[Install]
WantedBy=multi-user.target
